{"openapi":"3.0.1","info":{"title":"Api v3","version":"3"},"servers":[{"url":"https://api.digiposte.fr/api/v3"}],"tags":[{"name":"/archive","description":"Operations about document"},{"name":"/avatar","description":"Profile avatar CRUD"},{"name":"/cgu","description":"get information about GCU"},{"name":"/credentials","description":"Resources of the user credentials"},{"name":"/customizationurl","description":"Operations about user authentification tokens"},{"name":"/dashboard","description":"Operations about the dashboard"},{"name":"/document","description":"Operations about document"},{"name":"/document/secured","description":"Secured document download operations"},{"name":"/documents","description":"Operations about document collections, like listing, and filtering"},{"name":"/download","description":"Operations about downloading documents, folders and procedures"},{"name":"/file_tree","description":"Folder and files actions"},{"name":"/folder","description":"Operations about folder"},{"name":"/folders","description":"Operations about folders"},{"name":"/i18n","description":"Retrieve information about i18n"},{"name":"/idn","description":"Operations with IDN"},{"name":"/inscription","description":"Resources of the registrations"},{"name":"/legator","description":"Operations on the user who created the trusted contacts (legator)"},{"name":"/legators","description":"Operations on the users who created the trusted contacts (legators)"},{"name":"/membership","description":"Operations about membership"},{"name":"/membershipId","description":"Operations about membership"},{"name":"/memberships","description":"Operations about membership collections, like listing, and filtering"},{"name":"/notification","description":"Operations about user notification"},{"name":"/notifications","description":"Operations about user notifications"},{"name":"/offers","description":"Operations about offers, like listing"},{"name":"/partner","description":"Operations about partner"},{"name":"/partner_procedure","description":"Resources allowing partners to manage procedures"},{"name":"/partner_procedures","description":"Resources of procedures available to partners"},{"name":"/procedure","description":"Operations on user procedures"},{"name":"/procedure_user","description":"Resources of user's procedures"},{"name":"/procedures","description":"Resources of user's procedures"},{"name":"/profile","description":"Resources of the user profile"},{"name":"/profile_actions","description":"Resources of the user profile to view actions executed by user"},{"name":"/profile_documents","description":"Resources of the documentary user profile"},{"name":"/profile_nature","description":"Resources of the documentary user profile concerning a specific nature"},{"name":"/reminder","description":"CRUD operation on reminder"},{"name":"/sender","description":"Resources of the sender"},{"name":"/senders","description":"Operations about document collections, like listing, and filtering"},{"name":"/share","description":"Operations about share"},{"name":"/share_views","description":"Operations about shares for share recipients"},{"name":"/shares","description":"Operations about share collections, like listing, and filtering"},{"name":"/supporting","description":"Operations about supporting documents"},{"name":"/timeline","description":"Operations about time line"},{"name":"/trusted_contact","description":"Operations on a trusted contact"},{"name":"/trusted_contacts","description":"Operations on the trusted contacts"},{"name":"/user","description":"Operations about user"},{"name":"/user_mail","description":"Operations on the user mail"}],"paths":{"/document":{"post":{"tags":["public","/archive"],"summary":"Upload a document","operationId":"archive","parameters":[{"name":"X-AuthorizeSender","in":"header","schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"The document hash is wrong"},"HttpServletResponse.SC_REQUEST_ENTITY_TOO_LARGE":{"description":"The document to upload is too large"}}}},"/document/certified":{"post":{"tags":["public","/archive"],"summary":"Upload a certified document","operationId":"certifiedArchive_3_1","responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"The document hash is wrong"},"HttpServletResponse.SC_REQUEST_ENTITY_TOO_LARGE":{"description":"The document to upload is too large"}}}},"/document/merge":{"post":{"tags":["/archive"],"summary":"Generates a PDF from given files and stores it in the safe","operationId":"generatePdf","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}},"required":true},"responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"Not enough space left on the user strongbox"},"HttpServletResponse.SC_REQUEST_ENTITY_TOO_LARGE":{"description":"The total size of the files to merge is too large"}}}},"/document/merge/geo":{"post":{"tags":["/archive"],"summary":"Generates a PDF from given files and stores it in the safe","operationId":"generatePdfGeo","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}},"required":true},"responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"Not enough space left on the user strongbox"},"HttpServletResponse.SC_REQUEST_ENTITY_TOO_LARGE":{"description":"The total size of the files to merge is too large"}}}},"/document/geo":{"post":{"tags":["/archive"],"summary":"Upload a document with latitude and longitude","operationId":"geolocalizeArchive","parameters":[{"name":"X-AuthorizeSender","in":"header","schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"The document hash is wrong"},"HttpServletResponse.SC_REQUEST_ENTITY_TOO_LARGE":{"description":"The document to upload is too large"}}}},"/profile/avatar":{"get":{"tags":["/avatar"],"summary":"get user avatar","operationId":"getAvatar","responses":{"200":{"description":"return avatar"},"404":{"description":"the user don't have a avatar"}}},"post":{"tags":["/avatar"],"summary":"change user avatar","operationId":"postAvatar","requestBody":{"description":"The avatar to upload","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}},"required":true},"responses":{"204":{"description":"Upload OK"}}},"delete":{"tags":["/avatar"],"summary":"delete avatar","operationId":"deleteAvatar","responses":{"204":{"description":"Avatar has been deleted."}}}},"/cgu":{"get":{"tags":["/cgu"],"summary":"Returns the CGU url and version","operationId":"getCGU","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CGUDto"}}}}}}},"/credentials/login/change":{"post":{"tags":["/credentials"],"summary":"Initialisation d'un changement de login","operationId":"changeLogin","requestBody":{"description":"The data for update login payload","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginChangeInput"}}},"required":true},"responses":{"409":{"description":"the given password is incorrect"}}}},"/credentials/{login}/question/matches":{"put":{"tags":["/credentials"],"summary":"Verify that the given answer matches the user secret question","operationId":"checkUserSecretQuestionAndAnswer","parameters":[{"name":"login","in":"path","description":"The user's login","required":true,"schema":{"type":"string"}},{"name":"uri","in":"query","description":"The URI of reset link","schema":{"type":"string"}},{"name":"ccu","in":"query","schema":{"type":"boolean"}},{"name":"type","in":"query","schema":{"type":"string","enum":["PERSON","COMPANY"]}}],"requestBody":{"description":"The new secret question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsQuestion"}}},"required":true},"responses":{"400":{"description":"Invalid request parameters"},"409":{"description":"the given answer matches the user secret question"}}}},"/credentials/{code}/valid":{"get":{"tags":["/credentials"],"summary":"Validation d'un changement de login","operationId":"checkValidationCode","parameters":[{"name":"code","in":"path","description":"The validation code","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"There is no user associated to this code"}}}},"/credentials/secret_question":{"get":{"tags":["/credentials"],"summary":"search if the user have a secret question defined","operationId":"findSecretQuestionForCcu","parameters":[{"name":"ccu_user_id","in":"query","schema":{"type":"string"}},{"name":"email","in":"query","schema":{"type":"string"}},{"name":"token","in":"query","schema":{"type":"string"}},{"name":"sign","in":"query","schema":{"type":"string"}},{"name":"login","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Secret question found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSecretQuestionSigned"}}}},"403":{"description":"You cannot acces to this resource"},"404":{"description":"The user doesn't exists."}}}},"/credentials/{email}/logins":{"get":{"tags":["/credentials"],"summary":"Return login list available for given email","operationId":"getLoginList","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"uri","in":"query","schema":{"type":"string"}},{"name":"mail_valid","in":"query","schema":{"type":"boolean"}},{"name":"ccu_linked","in":"query","schema":{"type":"boolean"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/credentials/question":{"get":{"tags":["/credentials"],"summary":"Returns the user secret question","operationId":"getSecretQuestion_2_0","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsQuestion"}}}}}},"put":{"tags":["/credentials"],"summary":"Updates the user secret question","operationId":"putSecretQuestion","requestBody":{"description":"The new secret question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsQuestion"}}}},"responses":{"400":{"description":"Invalid request parameters"}}}},"/credentials/{login}/question":{"get":{"tags":["/credentials"],"summary":"Returns the user secret question","operationId":"getSecretQuestionWithLogin","parameters":[{"name":"login","in":"path","required":true,"schema":{"type":"string"}},{"name":"ccu","in":"query","schema":{"type":"boolean"}},{"name":"type","in":"query","schema":{"type":"string","enum":["PERSON","COMPANY"]}}],"responses":{"404":{"description":"Cannot find user"},"409":{"description":"Given parameters and user state did not match"}}}},"/credentials/{login}/{email}/question":{"get":{"tags":["/credentials"],"summary":"Returns the user secret question","operationId":"getSecretQuestionWithLoginAndEmail_2_0","parameters":[{"name":"login","in":"path","required":true,"schema":{"type":"string"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/credentials/questions":{"get":{"tags":["/credentials"],"summary":"Returns the user secret question","operationId":"getSecretQuestions","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialsQuestions"}}}}}}},"/credentials/password/matches":{"post":{"tags":["/credentials"],"summary":"Verify that the given password is correct","operationId":"postPasswordVerification","requestBody":{"description":"The password to verify","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordToVerifyData"}}},"required":true},"responses":{"409":{"description":"the given password is incorrect"}}}},"/credentials/raw_password/matches":{"post":{"tags":["/credentials"],"summary":"Verify that the given password is correct","operationId":"postRawPasswordVerification","requestBody":{"description":"The password to verify","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RawPasswordToVerifyData"}}},"required":true},"responses":{"409":{"description":"the given password is incorrect"}}}},"/credentials/question/matches":{"put":{"tags":["/credentials"],"summary":"Verify that the given answer matches the user secret question","operationId":"postSecretQuestionAndAnswer","requestBody":{"description":"The new secret question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsQuestion"}}}},"responses":{"409":{"description":"the given answer matches the user secret question"}}}},"/credentials/{login}/email_reset_credentials":{"put":{"tags":["/credentials"],"summary":"Send email to the user to reset his credentials","operationId":"putEmailResetCredentials","parameters":[{"name":"login","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The new secret question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsQuestion"}}}},"responses":{"409":{"description":"the given answer matches the user secret question"}},"deprecated":true}},"/credentials/{email}/email_reset_credentials":{"put":{"tags":["/credentials"],"summary":"Send email to reset credentials","operationId":"putEmailResetCredentials_1","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"ccu","in":"query","schema":{"type":"boolean"}},{"name":"type","in":"query","schema":{"type":"string"}},{"name":"rc","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/credentials/password":{"put":{"tags":["/credentials"],"summary":"Updates the password","operationId":"putNewPassword","requestBody":{"description":"The old password, and the new password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordUpdateData"}}},"required":true},"responses":{"412":{"description":"the old password is incorrect"}}}},"/credentials/raw_password":{"put":{"tags":["/credentials"],"summary":"Updates the password","operationId":"putNewRawPassword","requestBody":{"description":"The old password, and the new password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RawPasswordUpdateData"}}},"required":true},"responses":{"412":{"description":"the old password is incorrect"},"400":{"description":"The new password is too leak"}}}},"/credentials/password/reset":{"put":{"tags":["/credentials"],"summary":"Reset the password","operationId":"putResetPassword","requestBody":{"description":"The validation link, and the new password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetData"}}}},"responses":{"412":{"description":"The password is too weak"},"408":{"description":"The link is expired"}}}},"/user/customizationurl/token/{token}":{"get":{"tags":["/customizationurl"],"summary":"Check the validity of the given token","operationId":"checkUserTokenValidity","parameters":[{"name":"token","in":"path","description":"The token to check","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"token is mandatory"},"404":{"description":"token not found"},"403":{"description":"token expired"}}}},"/user/customizationurl":{"post":{"tags":["public","/customizationurl"],"summary":"create new token for user or renew them","operationId":"createOrRenewCustomizationUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartialAccountTypedInput"}}}},"responses":{"400":{"description":"le user_id est manquant"},"404":{"description":"utilisateur non trouvé"},"403":{"description":"le partenaire n'est pas propriétaire du compte"},"409":{"description":"le compte a déjà été transformé"}}}},"/dashboard":{"get":{"tags":["/dashboard"],"summary":"Returns the dashboard","operationId":"get","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}}}}},"/document/{document_id}/classify":{"put":{"tags":["/document"],"summary":"Classify the document","operationId":"classify","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exists"},"409":{"description":"The document to classify must be in inbox"}}}},"/document/{document_id}/content":{"get":{"tags":["public","/document"],"summary":"Returns the document content","operationId":"content","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document à télécharger","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/content/2ddoc":{"get":{"tags":["/document"],"summary":"Returns the document content","operationId":"content2ddoc","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document à télécharger","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/reminder":{"post":{"tags":["/document"],"summary":"Create a reminder on a document","operationId":"createReminder","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"requestBody":{"description":"Title and date of reminder that will be created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReminderInput"}}},"required":true},"responses":{"404":{"description":"document not found"},"200":{"description":"return created reminder"},"400":{"description":"Title or date are invalids"},"500":{"description":"Internal error"}}}},"/document/{document_id}":{"get":{"tags":["/document"],"summary":"Returns the document metadata","operationId":"get_1","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exist"}}},"delete":{"tags":["/document"],"summary":"Delete a document in trash","operationId":"delete","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exist"},"409":{"description":"The document to delete must be in trash"}}}},"/document/{document_id}/certificate":{"get":{"tags":["/document"],"summary":"get document certificate","operationId":"getDocumentCertificate","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/document/{document_id}/thumbnail":{"get":{"tags":["/document"],"summary":"Returns the document thumbnail","operationId":"getThumbnail","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/reminders":{"get":{"tags":["/document"],"summary":"Get list of reminders of a document","operationId":"getRemindersList","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"Reminders not found"},"200":{"description":"return Reminders list"},"500":{"description":"Internal error"}}}},"/document/{document_id}/with_shares":{"get":{"tags":["/document"],"summary":"Returns the document metadata with relative shares","operationId":"getWithShares","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exist"}}}},"/document/{document_id}/move/{folderId}":{"put":{"tags":["/document"],"summary":"Move the document","operationId":"move","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}},{"name":"folderId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}}],"responses":{"404":{"description":"The document doesn't exists"},"409":{"description":"The document to classify must be in inbox"}}}},"/document/{document_id}/rename/{new_name}":{"put":{"tags":["/document"],"summary":"Rename the document","operationId":"rename","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}},{"name":"new_name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"The document doesn't exists"},"409":{"description":"Certified document cannot be renamed"}}}},"/document/{document_id}/restore":{"put":{"tags":["/document"],"summary":"Restore the document","operationId":"restore","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"404":{"description":"The document doesn't exists"},"409":{"description":"The document to restore must be in trash"}}}},"/document/{document_id}/favorite_status/{favorite_status}":{"put":{"tags":["/document"],"summary":"Update the read status of the document","operationId":"setFavoriteStatus","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}},{"name":"favorite_status","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"404":{"description":"The document doesn't exists"},"409":{"description":"The document to mark as read/unread must not be already in this state"}}}},"/document/{document_id}/read_status/{read_status}":{"put":{"tags":["/document"],"summary":"Update the read status of the document","operationId":"setReadStatus","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}},{"name":"read_status","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"404":{"description":"The document doesn't exists"}}}},"/document/{document_id}/trash":{"put":{"tags":["/document"],"summary":"Trash the document","operationId":"trash","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}},{"name":"check","in":"query","schema":{"type":"boolean"}}],"responses":{"404":{"description":"The document doesn't exists"},"409":{"description":"The document to trash must not be already in trash"}}}},"/document/{document_id}/tags/{tags}":{"put":{"tags":["/document"],"summary":"Update tags of the document, the old tags will be overriden","operationId":"updateDocumentTags","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Document"}},{"name":"tags","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"The document doesn't exists"},"400":{"description":"Tags are not properly formatted"}}}},"/document/{document_id}/verify":{"post":{"tags":["/document"],"summary":"Verify a document","operationId":"verifyDocument","parameters":[{"name":"document_id","in":"path","description":"Identifiant du document","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/document/secured/download":{"post":{"tags":["/document/secured"],"summary":"Secured document download","operationId":"download","requestBody":{"description":"Requête contenant l'identifiant du document","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDownloadRequest"}}},"required":true},"responses":{"404":{"description":"The document doesn't exist"},"403":{"description":"Access to document forbidden"},"400":{"description":"Invalid request body"}}}},"/document/secured/download/2ddoc":{"post":{"tags":["/document/secured"],"summary":"Secured 2D-DOC document download","operationId":"download2ddoc","requestBody":{"description":"Requête contenant l'identifiant du document","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDownloadRequest"}}},"required":true},"responses":{"404":{"description":"The document doesn't exist"},"403":{"description":"Access to document forbidden"},"400":{"description":"Invalid request body"}}}},"/documents/choose":{"post":{"tags":["/documents"],"summary":"Returns all user's documents that match the search","operationId":"chooserDocs","parameters":[{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["FILENAME","SIZE","CREATION_DATE"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}},{"name":"use_finder_search","in":"query","description":"Use finder backend for research","schema":{"type":"boolean","default":false}}],"requestBody":{"description":"The search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChooseDocsCriteria"}}},"required":true},"responses":{"400":{"description":"Nature PID is not a valid value."}}}},"/documents/multiClassify":{"post":{"tags":["/documents"],"summary":"Classify multiple documents at once: move them from inbox to safe","operationId":"classifyDocuments","requestBody":{"description":"The document ids to classify","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"404":{"description":"At least one of the documents to classify could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't classify so many documents in a single request"}}}},"/documents/copy":{"post":{"tags":["/documents"],"summary":"Copie les documents dans un répertoire du coffre.","operationId":"copy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentsCopy"}}},"required":true},"responses":{"403":{"description":"User not allowed to access to document"}}}},"/documents/multiDelete":{"post":{"tags":["/documents"],"summary":"Delete multiple documents in trash at once","operationId":"deleteDocuments","requestBody":{"description":"The document ids to delete","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"404":{"description":"At least one of the documents to delete could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't delete so many documents in a single request"}}}},"/documents/trash":{"get":{"tags":["/documents"],"summary":"Returns all user's documents which are in the trash","operationId":"listTrash","parameters":[{"name":"index","in":"query","description":"The index of the pagination","schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}}],"responses":{"400":{"description":"Bad pagination values provided"}}},"delete":{"tags":["/documents"],"summary":"Delete all the user documents in trash","operationId":"deleteDocumentsInTrash","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/documents/facet":{"post":{"tags":["/documents"],"summary":"Returns documents facet that match the search","operationId":"facet","requestBody":{"description":"The search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentSearch"}}},"required":true},"responses":{"HttpServletResponse.SC_NOT_ACCEPTABLE":{"description":"Invalid search filter value for Location"}}}},"/documents/content":{"post":{"tags":["/documents"],"summary":"Returns a zip file with all documents","operationId":"getArchive","requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}},"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/documents/shares/{shareId}/folders/{folderId}/documents":{"get":{"tags":["/documents"],"summary":"Returns the documents by folder id shared by sender","operationId":"getDocumentsInFolderSharedBySender","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"shareId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/documents/getMultiTag":{"post":{"tags":["/documents"],"summary":"Permits to retrieve the document tags (user tags) of multiple documents in one request","operationId":"getMultiTagData","requestBody":{"description":"The document ids for which you want to retrieve the document tags","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"404":{"description":"At least one of the documents could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't get the tags of so many documents in a single request"}}}},"/documents/byNatures":{"post":{"tags":["/documents"],"summary":"Returns n-last documents for each given nature pid","operationId":"getNLastDocumentsByNaturePids","parameters":[{"name":"safeOnly","in":"query","description":"to look for documents only in safe and inbox","schema":{"type":"boolean"}}],"requestBody":{"description":"input with list of couple (pid, wanted)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DynamicProcedureInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/documents/shares/{partnerUserId}/sharedFolders":{"get":{"tags":["/documents"],"summary":"Returns the folders tree","operationId":"getSharedFolders","parameters":[{"name":"partnerUserId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FolderTreeViewListWithRoot"}}}}}}}},"/documents/userTags":{"get":{"tags":["/documents"],"summary":"Returns documents userTags of the user","operationId":"getUserTags","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/documents":{"get":{"tags":["/documents"],"summary":"Returns all user's documents","operationId":"listAll","parameters":[{"name":"index","in":"query","description":"The index of the pagination","schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}}],"responses":{"400":{"description":"Bad pagination values provided"}}},"post":{"tags":["public","/documents"],"summary":"Returns a map < key = docId, value= metadata >","operationId":"postEnrollmentDocumentsIds","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"200":{"description":"ok"},"400":{"description":"bad request"},"404":{"description":"document not found"}}}},"/documents/senders/{sender_id}/shares/{partner_user_id}/all":{"get":{"tags":["/documents"],"summary":"Returns the metadata of all documents, including those contained in folders (handled by microservice share) identified by senderId and partnerUserId.","operationId":"listAllShareDocumentsMetaDataForUser","parameters":[{"name":"sender_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"partner_user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad request"}}}},"/documents/inbox":{"get":{"tags":["/documents"],"summary":"Returns all user's documents which are in the mailbox","operationId":"listInbox","parameters":[{"name":"index","in":"query","description":"The index of the pagination","schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}}],"responses":{"400":{"description":"Bad pagination values provided"}}}},"/documents/metadata":{"post":{"tags":["/documents"],"summary":"Returns metadata of documents included in documents id array","operationId":"listMetaDataForDocumentIds","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentIdsInput"}}},"required":true},"responses":{"400":{"description":"Bad request"}}}},"/documents/shares/{partner_user_id}":{"get":{"tags":["/documents"],"summary":"Returns metadata of documents included in sender share (handled by microservice share) identified by senderId and partnerUserId","operationId":"listShareDocumentsMetaDataForPartner","parameters":[{"name":"partner_user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad request"}}},"post":{"tags":["/documents"],"summary":"Returns metadata of documents included in sender share (handled by microservice share) identified by senderId and partnerUserId","operationId":"listMetaDataForProvidedDocumentsInSenderShare","parameters":[{"name":"partner_user_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentIdsInput"}}},"required":true},"responses":{"400":{"description":"Bad request"}}}},"/documents/safe":{"get":{"tags":["/documents"],"summary":"Returns all user's documents which are in the strongbox","operationId":"listSafe","parameters":[{"name":"index","in":"query","description":"The index of the pagination","schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}}],"responses":{"400":{"description":"Bad pagination values provided"}}}},"/documents/senders/{sender_id}/shares/{partner_user_id}":{"get":{"tags":["/documents"],"summary":"Returns metadata of documents included in sender share (handled by microservice share) identified by senderId and partnerUserId","operationId":"listShareDocumentsMetaDataForUser","parameters":[{"name":"sender_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"partner_user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad request"}}}},"/documents/read":{"post":{"tags":["/documents"],"summary":"mark unread documents as read","operationId":"read","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/documents/multiRestore":{"post":{"tags":["/documents"],"summary":"Restore multiple documents being in trash at once in their original location","operationId":"restoreDocuments","requestBody":{"description":"The document ids to restore","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"404":{"description":"At least one of the documents to restore could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't restore so many documents in a single request"}}}},"/documents/search":{"post":{"tags":["public","/documents"],"summary":"Returns all user's documents that match the search","operationId":"search","parameters":[{"name":"index","in":"query","description":"The index of the pagination","schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}}],"requestBody":{"description":"The search criteria","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentSearch"}}},"required":true},"responses":{"400":{"description":"Bad user"},"HttpServletResponse.SC_NOT_ACCEPTABLE":{"description":"Invalid search filter value for Location"}}}},"/documents/multiTag":{"post":{"tags":["/documents"],"summary":"Tag multiple documents (user tags), with different tag values for each","operationId":"tagDocuments","requestBody":{"description":"The new tags to set for the documents","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiTagData"}}},"required":true},"responses":{"400":{"description":"The payload or tags provided is invalid"},"404":{"description":"At least one of the documents to tag could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't tag so many documents in a single request"}}}},"/documents/multiTrash":{"post":{"tags":["/documents"],"summary":"Trash multiple documents at once: move them from inbox or safe to trash","operationId":"trashDocuments","requestBody":{"description":"The document ids to trash","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"404":{"description":"At least one of the documents to trash could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't trash so many documents in a single request"}}}},"/documents/multiReadStatus/{read_status}":{"post":{"tags":["/documents"],"summary":"Update the read status of multiple documents at once","operationId":"updateDocumentsReadStatus","parameters":[{"name":"read_status","in":"path","required":true,"schema":{"type":"boolean"}}],"requestBody":{"description":"The document ids to trash","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdSet"}}},"required":true},"responses":{"404":{"description":"At least one of the documents to update the read status could not be found"},"403":{"description":"You do not have the permission on some of these documents"},"409":{"description":"Can't update the read status of so many documents in a single request"}}}},"/download/archive":{"get":{"tags":["/download"],"summary":"Retrieve archive with all documents download","operationId":"getArchive_1","parameters":[{"name":"partNumber","in":"query","description":"The number of archive part","schema":{"type":"integer","format":"int32"}}],"responses":{"default":{"description":"default response","content":{"*/*":{}}}}},"post":{"tags":["/download"],"summary":"Start archive with all documents creation","operationId":"postArchive","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OneClickDownloadRequest"}},"text/plain":{"schema":{"$ref":"#/components/schemas/OneClickDownloadRequest"}}}},"responses":{"default":{"description":"default response","content":{"*/*":{}}}}},"delete":{"tags":["/download"],"summary":"Delete archive","operationId":"deleteArchive","responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/download/documents":{"get":{"tags":["/download"],"summary":"Returns a zip file with all documents","operationId":"getAllDocumentsArchive","responses":{"default":{"description":"default response","content":{"application/zip":{}}}}},"post":{"tags":["/download"],"summary":"Returns a zip file with all documents","operationId":"getDocumentsArchive","requestBody":{"description":"Add document to user procedure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/download/documents/info":{"get":{"tags":["/download"],"description":"Returns size of all documents, indicates whether the safe contains health document and whether download is allowed","operationId":"getAllDocumentsInfo","responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/download/archive/status":{"get":{"tags":["/download"],"summary":"Retrieve archive with all documents download's link","operationId":"getArchiveStatus","responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/download/procedure/{procedure_id}":{"get":{"tags":["/download"],"summary":"Save procedure's documents in a zip file","operationId":"getProcedureArchive","parameters":[{"name":"procedure_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/download/profile/documents":{"get":{"tags":["/download"],"summary":"Save profile's documents in a zip file","operationId":"getProfileArchive","responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/download/partner/archives":{"post":{"tags":["/download"],"summary":"Start archive documents for partner users","operationId":"postArchives","requestBody":{"content":{"application/json":{"schema":{"maxItems":1000,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/PartnerOneClickDownloadRequest"}}},"text/plain":{"schema":{"maxItems":1000,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/PartnerOneClickDownloadRequest"}}}}},"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/file/tree/delete":{"post":{"tags":["/file_tree"],"summary":"Delete documents and folders","operationId":"delete_1","requestBody":{"description":"Folders and documents identifiants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTreeInput"}}},"required":true},"responses":{"400":{"description":"Cannot restore because of wrong location"}}}},"/file/tree/trash":{"post":{"tags":["/file_tree"],"summary":"Move documents and folders to trash","operationId":"moveToTrash","parameters":[{"name":"check","in":"query","schema":{"type":"boolean"}}],"requestBody":{"description":"Folders and documents identifiants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTreeInput"}}},"required":true},"responses":{"409":{"description":"Document or folder doesn't exist"},"400":{"description":"Cannot trash because of wrong location"}}},"delete":{"tags":["/file_tree"],"summary":"Delete all documents and folders in trash","operationId":"deleteInTrash","responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/file/tree/info":{"post":{"tags":["/file_tree"],"summary":"Returns documents and folders' size","operationId":"info","requestBody":{"description":"Folders and documents infos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTreeInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/file/tree/move":{"put":{"tags":["/file_tree"],"summary":"Move a set of folders and documents","operationId":"move_1","parameters":[{"name":"to","in":"query","description":"The target folder","schema":{"$ref":"#/components/schemas/Folder"}}],"requestBody":{"description":"Folders and documents identifiants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTreeInput"}}},"required":true},"responses":{"404":{"description":"Document or folder doesn't exist"},"409":{"description":"Cannot move a folder into its child folders or itself"}}}},"/file/tree/restore":{"post":{"tags":["/file_tree"],"summary":"Restore documents and folders","operationId":"restore_1","requestBody":{"description":"Folders and documents identifiants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTreeInput"}}},"required":true},"responses":{"400":{"description":"Cannot restore because of wrong location"}}}},"/file/tree/trash/restore":{"post":{"tags":["/file_tree"],"summary":"Restore all documents and folders in trash","operationId":"restoreInTrash","responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/file/tree/undo/{action_id}":{"post":{"tags":["/file_tree"],"summary":"Undo last user action with documents or folders","operationId":"undo","parameters":[{"name":"action_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Cannot undo action"},"409":{"description":"Cannot rename certified document"}}}},"/file/tree/favorite/{favorite_status}":{"post":{"tags":["/file_tree"],"summary":"Update the favorite status of multiple documents at once","operationId":"updateDocumentsFolderFavoriteStatus","parameters":[{"name":"favorite_status","in":"path","required":true,"schema":{"type":"boolean"}}],"requestBody":{"description":"Folders and documents identifiants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileTreeInput"}}},"required":true},"responses":{"404":{"description":"At least one of the documents/folders to update the favorite status could not be found"},"403":{"description":"At least one document/folder is not owned by authenticated user"},"409":{"description":"Can't update the favorite status of so many documents/folders in a single request"}}}},"/folder":{"post":{"tags":["/folder"],"summary":"Creates new folder","operationId":"createFolder_3_1","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/FolderInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"deprecated":true}},"/folder/{folder_id}":{"delete":{"tags":["/folder"],"summary":"Delete the folder","operationId":"delete_2","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}}],"responses":{"404":{"description":"Cannot find folder"},"409":{"description":"Folder not in trash"}}}},"/folder/{folder_id}/documents":{"get":{"tags":["/folder"],"summary":"Get folder / documents Tree","operationId":"getFolderDocuments","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}},{"name":"index","in":"query","description":"The index of the pagination","schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"The field on which you want to sort the results","schema":{"type":"string","enum":["TYPE","TITLE","FILENAME","AUTHOR_NAME","CREATION_DATE","WAS_READ","LOCATION","IS_SHARED","SIZE","DIGISHOOT","CHARGEABLE_AMOUNT"]}},{"name":"direction","in":"query","description":"The direction in which you want to sort the results, for the given field","schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}}],"responses":{"404":{"description":"Cannot find folder"},"400":{"description":"At least one parameter is incorrect (sort, direction, max_results)"}}}},"/folder/{folder_id}/info":{"get":{"tags":["/folder"],"summary":"Returns folder's size","operationId":"info_1","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}}],"responses":{"404":{"description":"Cannot find folder"}}}},"/folder/{folder_id}/move":{"put":{"tags":["/folder"],"summary":"Move folder to another one","operationId":"move_2","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}},{"name":"to","in":"query","description":"The target folder","schema":{"$ref":"#/components/schemas/Folder"}}],"responses":{"404":{"description":"Cannot find folder"},"409":{"description":"Cannot move a folder into its child folders or itself"}}}},"/folder/{folder_id}/rename/{new_name}":{"put":{"tags":["/folder"],"summary":"Rename folder name","operationId":"rename_3_1","parameters":[{"name":"folder_id","in":"path","description":"Folder ID","required":true,"schema":{"$ref":"#/components/schemas/Folder"}},{"name":"new_name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad input: incorrect new name"},"404":{"description":"Cannot find folder"}},"deprecated":true}},"/folder/{folder_id}/rename":{"put":{"tags":["/folder"],"summary":"Rename folder","operationId":"renameFolder","parameters":[{"name":"folder_id","in":"path","description":"Folder ID","required":true,"schema":{"$ref":"#/components/schemas/Folder"}}],"requestBody":{"description":"Folder ID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FolderInput"}}},"required":true},"responses":{"400":{"description":"Bad input: incorrect new name"},"404":{"description":"Cannot find folder"}}}},"/folder/{folder_id}/restore":{"put":{"tags":["/folder"],"summary":"Move the folder to safe","operationId":"restore_2","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}}],"responses":{"404":{"description":"Cannot find folder"},"409":{"description":"Folder not in trash"}}}},"/folder/{folder_id}/favorite_status/{favorite_status}":{"put":{"tags":["/folder"],"summary":"Set favorite status to folder","operationId":"setFavoriteStatus_1","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}},{"name":"favorite_status","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"404":{"description":"Cannot find folder"}}}},"/folder/{folder_id}/trash":{"put":{"tags":["/folder"],"summary":"Move the folder to trash","operationId":"trash_1","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Folder"}},{"name":"check","in":"query","schema":{"type":"boolean"}}],"responses":{"404":{"description":"Cannot find folder"},"409":{"description":"Folder already in trash"}}}},"/folders":{"get":{"tags":["/folders"],"summary":"Returns the folders tree","operationId":"get_3_1","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderTreeViewList"}}}}},"deprecated":true}},"/folders/favorite":{"get":{"tags":["/folders"],"summary":"Returns the favorite folders","operationId":"getFavoriteFolders","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderMetaDataList"}}}}}}},"/folders/safe":{"get":{"tags":["public","/folders"],"summary":"Returns the folders tree","operationId":"getSafeFolders_3_1","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderTreeViewList"}}}}},"deprecated":true}},"/folders/trash":{"get":{"tags":["/folders"],"summary":"Returns the folders tree","operationId":"getTrashFolders_3_1","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderMetaDataList"}}}}},"deprecated":true}},"/i18n":{"get":{"tags":["/i18n"],"summary":"Get information about i18n on Digiposte","operationId":"get_3","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DigiposteLocaleContext"}}}}}}},"/i18n/default_locale":{"get":{"tags":["/i18n"],"summary":"Get default locale","operationId":"getDefaultLocale","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringValue"}}}}}}},"/i18n/locales":{"get":{"tags":["/i18n"],"summary":"Get information about locales available on Digiposte","operationId":"getLocales","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StringList"}}}}}}},"/idn/linkAccount":{"post":{"tags":["/idn"],"summary":"Link current user account to its IDN account","operationId":"linkIDNAccount","requestBody":{"description":"The tokens necessary to connect to IDN service","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IDNTokens"}}},"required":true},"responses":{"409":{"description":"IDN account is already linked to another user"}}}},"/idn/retrieveInformation":{"post":{"tags":["/idn"],"summary":"Retrieve user information from IDN","operationId":"retrieveIDNInformation","requestBody":{"description":"The tokens necessary to connect to IDN service","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IDNTokens"}}},"required":true},"responses":{"409":{"description":"IDN account not activated"}}}},"/inscription/merge_demo/check":{"get":{"tags":["/inscription"],"summary":"checks if connected user can use the registration","operationId":"canMergeDemoUserWithUser","parameters":[{"name":"full_account_login","in":"query","description":"Full account login","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/inscription/documents":{"head":{"tags":["/inscription"],"summary":"Returns number of documents based on fieldOne and senderCode","operationId":"countDocuments","parameters":[{"name":"fieldOne","in":"query","description":"fieldOne","schema":{"type":"string"}},{"name":"senderCode","in":"query","description":"senderCode","schema":{"type":"string"}},{"name":"registrationId","in":"query","description":"registrationId","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/inscription/{registration_id}/user":{"get":{"tags":["/inscription"],"summary":"get the registration for the currently connected user","operationId":"getRegistrationForConnectedUser","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Registration does not match with user"},"404":{"description":"Registration not found with this id"}}},"post":{"tags":["/inscription"],"summary":"notify that connected user have used the registration","operationId":"useRegistrationWithConnectedUser","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}},{"name":"fieldValue1","in":"query","description":"identification security+ field","schema":{"type":"string"}},{"name":"fieldValue2","in":"query","description":"authentication security+ field","schema":{"type":"string"}}],"responses":{"403":{"description":"Registration not match with security form"},"404":{"description":"Registration not found with this id"},"409":{"description":"user type not match with registration client type"}}}},"/inscription/{registration_id}/is_authorized":{"post":{"tags":["/inscription"],"summary":"Returns true if the registration is authorized for the given registration id and user id, false otherwise","operationId":"isAuthorizedToSubscribe","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"login","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegistrationCheckAuthorizationInput"}}},"required":true},"responses":{"403":{"description":"Registration not match with security form"},"404":{"description":"Registration not found with this id"}}}},"/inscription/{registration_id}/membership/refuse":{"post":{"tags":["/inscription"],"summary":"notify that the user have refused the membership of the registration","operationId":"refuseMembership","parameters":[{"name":"registration_id","in":"path","description":"Identifiant de la pré-inscription","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Membership non trouvée pour cette registration"}}}},"/inscription/{registration_id}/refuse_optin":{"post":{"tags":["/inscription"],"summary":"notify that the user have refused the registration","operationId":"refuseOptinRegistration","parameters":[{"name":"registration_id","in":"path","description":"Identifiant de la pré-inscription","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Formulaire de refus","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefusalForm"}}},"required":true},"responses":{"404":{"description":"Registration not found with this id"},"409":{"description":"Registration already used or canceled"}}}},"/inscription/{registration_id}/refuse":{"post":{"tags":["/inscription"],"summary":"notify that the user have refused the registration","operationId":"refuseRegistration","parameters":[{"name":"registration_id","in":"path","description":"Identifiant de la pré-inscription","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"email","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MailInput"}}},"required":true},"responses":{"404":{"description":"Registration not found with this id"},"409":{"description":"Registration already used or canceled"}}}},"/inscription/{registration_id}/documents":{"get":{"tags":["/inscription"],"summary":"Returns a zip file with all documents","operationId":"retrieveAllDocumentsForUser","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Registration not found with this id"}}}},"/inscription/refuse/form/answers":{"get":{"tags":["/inscription"],"summary":"retrieve the availables values to refusal answer","operationId":"retrieveAvailablesAnswersForRefusalForm","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/inscription/cancelled":{"get":{"tags":["/inscription"],"summary":"retrieve cancelled/or cancelled registration with url sign and params validity check","operationId":"retrieveCancelledRegistrationByFields","parameters":[{"name":"senderPid","in":"query","description":"the sender pid","required":true,"schema":{"type":"string"}},{"name":"fieldValue1","in":"query","description":"identification security+ field","required":true,"schema":{"type":"string"}},{"name":"fieldValue2","in":"query","description":"authentication security+ field","schema":{"type":"string"}}],"responses":{"404":{"description":"registration not found for this sender and this securityForm"},"409":{"description":"Registration already used or canceled"}}}},"/inscription/refusable":{"get":{"tags":["/inscription"],"summary":"Returns data for refusable registration form","operationId":"retrieveRefusableRegistrationByFields","parameters":[{"name":"senderPid","in":"query","description":"the sender pid","required":true,"schema":{"type":"string"}},{"name":"fieldValue1","in":"query","description":"identification security+ field","schema":{"type":"string"}},{"name":"fieldValue2","in":"query","description":"authentication security+ field","schema":{"type":"string"}}],"responses":{"403":{"description":"Registration not match with security form"},"404":{"description":"Registration not found with this id"},"409":{"description":"registration already used or canceld"}}}},"/inscription/{registration_id}":{"get":{"tags":["/inscription"],"summary":"Returns the registration data of the given identifier","operationId":"retrieveRegistration","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}},{"name":"fieldValue1","in":"query","description":"identification security+ field","schema":{"type":"string"}},{"name":"fieldValue2","in":"query","description":"authentication security+ field","schema":{"type":"string"}}],"responses":{"403":{"description":"Registration not match with security form"},"404":{"description":"Registration not found with this id"},"409":{"description":"registration already used or canceld"}}}},"/inscription/byAccountCodeParams/{account_code}":{"get":{"tags":["/inscription"],"summary":"retrieve registration from url sign and params validity check from account code","operationId":"retrieveRegistrationByAccountCodeParams","parameters":[{"name":"account_code","in":"path","description":"Registration Identifier","required":true,"schema":{"type":"string"}},{"name":"uri","in":"query","description":"the sign to verify","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"account code not match with security informations"},"404":{"description":"Registration not found with this id"},"409":{"description":"Registration already used or canceled"}}}},"/inscription":{"get":{"tags":["/inscription"],"summary":"retrieve registration with url sign and params validity check","operationId":"retrieveRegistrationByFields","parameters":[{"name":"senderPid","in":"query","description":"the sender pid","required":true,"schema":{"type":"string"}},{"name":"fieldValue1","in":"query","description":"identification security+ field","required":true,"schema":{"type":"string"}},{"name":"fieldValue2","in":"query","description":"authentication security+ field","schema":{"type":"string"}}],"responses":{"404":{"description":"registration not found for this sender and this securityForm"},"409":{"description":"Registration already used or canceled"}}}},"/inscription/{registration_id}/byParam":{"get":{"tags":["/inscription"],"summary":"retrieve registration with url sign and params validity check","operationId":"retrieveRegistrationByParams","parameters":[{"name":"registration_id","in":"path","description":"Registration Identifier","required":true,"schema":{"type":"string"}},{"name":"uri","in":"query","description":"the uri to check","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"registration not match with security informations"},"404":{"description":"Registration not found with this id"},"409":{"description":"Registration already used or canceled"}}}},"/inscription/{registration_id}/public":{"get":{"tags":["/inscription"],"summary":"Returns the registration public datas of the given identifier","operationId":"retrieveRegistrationPublicDatas","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Registration not found with this id"}}}},"/inscription/{registration_id}/fields":{"get":{"tags":["/inscription"],"summary":"Returns the registration security+ fields of the given identifier","operationId":"retrieveRegistrationSecurityPlusField","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Registration not found with this id"},"409":{"description":"Registration already used or canceled"}}}},"/inscription/{registration_id}/status":{"get":{"tags":["/inscription"],"summary":"Returns the registration status (and status of linked objects)","operationId":"retrieveRegistrationStatus","parameters":[{"name":"registration_id","in":"path","description":"registration id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Registration not found with this id"}}}},"/inscription/byAccountCode/{account_code}/status":{"get":{"tags":["/inscription"],"summary":"Returns the registration status (and status of linked objects)","operationId":"retrieveRegistrationStatusByAccountCode","parameters":[{"name":"account_code","in":"path","description":"account code","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Registration not found with this id"}}}},"/legator/{id}":{"get":{"tags":["/legator"],"summary":"Get current user's legator by id","operationId":"deleteById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"The requested legator does not exist"}}}},"/legators":{"get":{"tags":["/legators"],"summary":"Get the legators of the current user","operationId":"list","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership":{"post":{"tags":["public","/membership"],"summary":"Join a membership","operationId":"add","parameters":[{"name":"registrationId","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MembershipInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/optin":{"post":{"tags":["/membership"],"summary":"Create an optin","operationId":"createOptin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MembershipOptinInput"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/optout":{"post":{"tags":["/membership"],"summary":"Create an optout","operationId":"createOptout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MembershipOptoutInput"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/available":{"get":{"tags":["/membership"],"summary":"Check if the membership is available","operationId":"isAvailable","parameters":[{"name":"input","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MembershipInput"}}],"responses":{"400":{"description":"Incorrect parameter"},"404":{"description":"The membership isn't available"}}}},"/membership/update":{"post":{"tags":["/membership"],"summary":"Update a membership (givenName, lastName and email)","operationId":"updateMembership","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MembershipUpdatingInput"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/validate":{"post":{"tags":["/membership"],"summary":"Acquit a membership","operationId":"validate","parameters":[{"name":"partner_id","in":"query","description":"PartnerId (senderCode)","schema":{"type":"string"}},{"name":"partner_user_id","in":"query","description":"UserId from partner (fieldone)","schema":{"type":"string"}}],"responses":{"400":{"description":"All parameters are required"},"404":{"description":"Partner not found"}}}},"/membership/optout/availability":{"get":{"tags":["/membership"],"summary":"Check field one availability by sender","operationId":"validateFieldOneForOptout","parameters":[{"name":"sender_pid","in":"query","description":"Sender pid","required":true,"schema":{"type":"string"}},{"name":"field_one","in":"query","description":"Field one","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/optouts/availability":{"post":{"tags":["/membership"],"summary":"Check field one availability by sender for multiple optouts","operationId":"validateFieldOneForOptouts","parameters":[{"name":"sender_pid","in":"query","description":"Sender pid","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/{id}/accept/demat":{"post":{"tags":["/membershipId"],"summary":"accept demat membership","operationId":"acceptDematMembership","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/{id}":{"get":{"tags":["/membershipId"],"summary":"Retrieve a membership","operationId":"get_4","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"404":{"description":"Membership doesn't exist"}}},"delete":{"tags":["public","/membershipId"],"summary":"Cancel a membership","operationId":"cancel","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"409":{"description":"Can delete collected membership only if sender allow it"}}}},"/membership/{id}/agreement/content":{"get":{"tags":["/membershipId"],"summary":"Retrieve the agreement file of a membership","operationId":"getAgreementContent","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/membership/{id}/state":{"get":{"tags":["/membershipId"],"summary":"Retrieve a collected membership transaction state","operationId":"getState","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"404":{"description":"Membership doesn't exist"},"409":{"description":"Membership is not collected membership"},"410":{"description":"TransactionId expired"},"501":{"description":"unknown transaction state"}}}},"/membership/{id}/collect":{"post":{"tags":["/membershipId"],"summary":"launch the collect","operationId":"launchCollect","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/{id}/alias":{"put":{"tags":["/membershipId"],"summary":"Update a membership alias","operationId":"updateAlias","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"requestBody":{"description":"Alias of membership","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MembershipAliasInput"}}}},"responses":{"200":{"description":"The membership was updated"},"400":{"description":"The alias is not valid"}}}},"/membership/{id}/login/data":{"put":{"tags":["/membershipId"],"summary":"Reset retriever data","operationId":"updateEfactureLoginData","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"requestBody":{"content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/{id}/inbox_folder":{"put":{"tags":["/membershipId"],"summary":"Reset retriever data","operationId":"updateInboxFolder","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"$ref":"#/components/schemas/Membership"}},{"name":"value","in":"query","description":"Folder ID","schema":{"$ref":"#/components/schemas/Folder"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/membership/{id}/note":{"put":{"tags":["/membershipId"],"summary":"Update a membership note","operationId":"updateNote","parameters":[{"name":"id","in":"path","description":"Membership Id","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"requestBody":{"description":"Membership note","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MembershipNoteInput"}}}},"responses":{"200":{"description":"The membership was updated"},"400":{"description":"Note is not valid (empty or more than 500 characters)"}}}},"/memberships":{"get":{"tags":["public","/memberships"],"summary":"Retrieves all user's membership","operationId":"get_5","parameters":[{"name":"status","in":"query","description":"the object current status","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MembershipList"}}}}}}},"/memberships/{id}/documents":{"get":{"tags":["/memberships"],"summary":"Retrieve membership documents data","operationId":"getDocumentsData","parameters":[{"name":"id","in":"path","description":"ID of membership","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Return membership documents."},"404":{"description":"Membership doesn't exist or not accesible."},"400":{"description":"Bad membership statusLabel."}}}},"/memberships/infos":{"get":{"tags":["/memberships"],"summary":"Get memberships infos","operationId":"getInfos","parameters":[{"name":"partner_id","in":"query","description":"PartnerId (senderCode)","schema":{"type":"string"}},{"name":"partner_user_id","in":"query","description":"UserId from partner (fieldone)","schema":{"type":"string"}}],"responses":{"200":{"description":"Return memberships infos"},"404":{"description":"Functional object not found"}}}},"/memberships/state":{"post":{"tags":["/memberships"],"summary":"Retrieve collected membership transaction states","operationId":"getStates","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/MembershipIdsInput"}}},"required":true},"responses":{"200":{"description":"Return membership transaction states"},"501":{"description":"unknown transaction state"},"503":{"description":"service unavailable"},"400":{"description":"Incorrect parameter"}}}},"/memberships/search":{"get":{"tags":["/memberships"],"summary":"search for memberships with PID and eventually other criteria","operationId":"search_1","parameters":[{"name":"partner_id","in":"query","description":"PartnerId (senderCode)","required":true,"schema":{"type":"string"}},{"name":"status_label","in":"query","description":"the object current status","schema":{"type":"string"}},{"name":"min_updated_at","in":"query","description":"The minimum date of last update","schema":{"type":"string"}},{"name":"max_updated_at","in":"query","description":"The maximum date of last update","schema":{"type":"string"}},{"name":"route_code","in":"query","description":"route code","schema":{"type":"string"}},{"name":"partner_user_id","in":"query","description":"UserId from partner (fieldone)","schema":{"type":"string"}}],"responses":{"400":{"description":"min_updated_at can't be after min_updated_at"},"404":{"description":"Sender not found with partner_id ="},"403":{"description":"forbidden"}}}},"/notification/{notification_id}":{"put":{"tags":["/notification"],"summary":"Update the notification","operationId":"put","parameters":[{"name":"notification_id","in":"path","description":"ID of user notification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"new notification data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/notifications":{"get":{"tags":["/notifications"],"summary":"Get the notifications the current user","operationId":"get_6","parameters":[{"name":"index","in":"query","description":"The index of the pagination","schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"max_results","in":"query","description":"The maximum number of results returned","schema":{"maximum":101,"minimum":1,"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"The type of the returned items","schema":{"type":"string"}},{"name":"read","in":"query","description":"To filter by read status","schema":{"type":"boolean"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationList"}}}}}}},"/offers":{"get":{"tags":["/offers"],"summary":"Returns the allowed offers of the logged user","operationId":"getEligibleOffers","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/document":{"post":{"tags":["/partner"],"summary":"Upload a document","operationId":"archive_2","responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"The document hash is wrong"},"413":{"description":"The document to upload is too large"}}}},"/partner/offer/cancel":{"post":{"tags":["public","/partner"],"summary":"Cancel a partner offer","operationId":"cancelPartnerOffer","requestBody":{"description":"Partner offer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CancelPartnerOfferInput"}}},"required":true},"responses":{"204":{"description":"The offer has been canceled"},"400":{"description":"Wrong or missing mandatory parameters"},"404":{"description":"Unknown partner_user_id, platform and/or product_id"}}}},"/partner/offer/change":{"post":{"tags":["/partner"],"summary":"Change partner offer","operationId":"changePartnerOffer","requestBody":{"description":"Partner offer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChangeOfferInput"}}},"required":true},"responses":{"204":{"description":"The offer has been changed"},"400":{"description":"Wrong or missing mandatory parameters"},"404":{"description":"Unknown partner_user_id, platform and/or product_id"}}}},"/partner":{"post":{"tags":["public","/partner"],"summary":"Create a Partner","operationId":"createPartner","requestBody":{"description":"Add partner","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartnerInput"}}},"required":true},"responses":{"400":{"description":"Données en entrée incorrectes"}}}},"/partner/{client_id}":{"get":{"tags":["public","/partner"],"summary":"get a partner by client_id","operationId":"getPartner","parameters":[{"name":"client_id","in":"path","description":"client id","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Données en entrée incorrectes"}}},"put":{"tags":["/partner"],"summary":"update a Partner ","operationId":"updatePartner","parameters":[{"name":"client_id","in":"path","description":"client id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"update partner","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartnerInput"}}},"required":true},"responses":{"400":{"description":"Données en entrée incorrectes"}}}},"/partner/{client_id}/client-secret":{"post":{"tags":["/partner"],"summary":"update Partner client secret ","operationId":"updateClientSecretOfPartner","parameters":[{"name":"client_id","in":"path","description":"client id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Le partenaire n'existe pas"}}}},"/partner/{client_id}/rights":{"put":{"tags":["/partner"],"summary":"Update partner rights ","operationId":"updatePartnerRights","parameters":[{"name":"client_id","in":"path","description":"client id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"update partner rights","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartnerApiAccessInput"}}},"required":true},"responses":{"412":{"description":"La ressource demandée (verbe HTTP + ressource API) n'existe pas"},"404":{"description":"Le partenaire n'existe pas"}}}},"/partner/procedure/{procedure_pid}/assign":{"post":{"tags":["/partner_procedure"],"summary":"Assign a procedure to a user","operationId":"assign","parameters":[{"name":"procedure_pid","in":"path","description":"procedure pid","required":true,"schema":{"type":"string"}},{"name":"X-OrganismUserId","in":"header","schema":{"type":"string","default":""}},{"name":"X-OrganismId","in":"header","schema":{"type":"string","default":""}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedure/{user_procedure_id}/document/{document_id}":{"get":{"tags":["public","/partner_procedure"],"summary":"Returns document of a user procedure","operationId":"getDocument","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}},{"name":"document_id","in":"path","description":"document id","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedure/{user_procedure_id}/document/{document_id}/metadata":{"get":{"tags":["/partner_procedure"],"summary":"Returns document infos of a user procedure","operationId":"getDocumentMetadata","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}},{"name":"document_id","in":"path","description":"document id","required":true,"schema":{"$ref":"#/components/schemas/Document"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedure/{user_procedure_id}/documents":{"get":{"tags":["public","/partner_procedure"],"summary":"Returns all documents of a user procedure in a zip file","operationId":"getDocuments","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedure/{user_procedure_id}/qualify":{"put":{"tags":["public","/partner_procedure"],"summary":"Returns document of a user procedure","operationId":"qualify","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"qualification parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QualifyProcedureInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedures/{procedure_pid}":{"get":{"tags":["public","/partner_procedures"],"summary":"Retrieve all procedures available to the partner","operationId":"get_7","parameters":[{"name":"procedure_pid","in":"path","description":"procedure pid","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","description":"procedure status","schema":{"type":"string","enum":["STARTED","REQUESTED","VALIDATED","COMPLETED","OBSOLETED"]}},{"name":"max_results","in":"query","description":"maximum number of procedures to retrieve","schema":{"type":"integer","format":"int32"}},{"name":"index","in":"query","description":"page index","schema":{"type":"integer","format":"int32"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedures":{"get":{"tags":["/partner_procedures"],"summary":"Retrieve all user procedures of a specific procedure  available to the partner","operationId":"getAll_1","parameters":[{"name":"offset","in":"query","description":"specify which row should be fetched first.","schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"limit the records returned.","schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/partner/procedures/{procedure_pid}/details":{"get":{"tags":["/partner_procedures"],"summary":"Retrieve an user procedure","operationId":"getDetails","parameters":[{"name":"procedure_pid","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/partner/procedures/{procedure_pid}/stats":{"get":{"tags":["/partner_procedures"],"summary":"Retrieve statistics from procedures available to the partner","operationId":"getStats","parameters":[{"name":"procedure_pid","in":"path","description":"procedure pid","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid parameter, procedure not found for the given PID"},"403":{"description":"Access denied for the given procedure PID"}}}},"/procedure/{user_procedure_id}/reminder":{"post":{"tags":["/procedure"],"summary":"Create a reminder on a user procedure","operationId":"createReminder_1","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"$ref":"#/components/schemas/UserProcedure"}}],"requestBody":{"description":"Title and date of reminder that will be created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReminderInput"}}},"required":true},"responses":{"404":{"description":"user procedure not found"},"200":{"description":"return created reminder"},"400":{"description":"Title or date are invalids"},"500":{"description":"Internal error"}}}},"/procedure":{"post":{"tags":["/procedure"],"summary":"Assign a procedure to a user","operationId":"createSpecificProcedure","requestBody":{"description":"the procedure model","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpecificProcedureInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/procedure/{user_procedure_id}/reminders":{"get":{"tags":["/procedure"],"summary":"Get list of reminders of a user procedure","operationId":"getRemindersList_1","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"$ref":"#/components/schemas/UserProcedure"}}],"responses":{"404":{"description":"Reminders not found"},"200":{"description":"return Reminders list"},"500":{"description":"Internal error"}}}},"/procedure/{user_procedure_id}/membership_association/{membership_id}":{"put":{"tags":["/procedure"],"summary":"associate a membership with a procedure","operationId":"membershipAssociation","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"$ref":"#/components/schemas/UserProcedure"}},{"name":"membership_id","in":"path","description":"membership_id","required":true,"schema":{"$ref":"#/components/schemas/Membership"}}],"responses":{"200":{"description":"return updated procedure"},"404":{"description":"Membership doesn't exist"}}}},"/procedure/{user_procedure_id}":{"put":{"tags":["/procedure"],"summary":"Updates a Specific user procedure","operationId":"modifySpecificProcedure","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"$ref":"#/components/schemas/UserProcedure"}}],"requestBody":{"description":"the updated procedure model","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpecificProcedureInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/procedure/user/{user_procedure_id}/add-document":{"post":{"tags":["/procedure_user"],"summary":"Add new document to user procedure in a document category , use pid instead of id","operationId":"add_3_0","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Add document to user procedure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureDocumentInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/procedure/user/{user_procedure_id}/document":{"post":{"tags":["/procedure_user"],"summary":"Upload a document to user procedure","operationId":"archive_3","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"$ref":"#/components/schemas/UserProcedure"}}],"responses":{"400":{"description":"The archive size is invalid"},"409":{"description":"The document hash is wrong"},"HttpServletResponse.SC_REQUEST_ENTITY_TOO_LARGE":{"description":"The document to upload is too large"}}}},"/procedure/user/{user_procedure_id}/share":{"get":{"tags":["/procedure_user"],"summary":"Get the procedure share","operationId":"getProcedureShare","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}},"put":{"tags":["/procedure_user"],"summary":"Update the procedure share","operationId":"updateProcedureShare","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The share data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureShareDataInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}},"post":{"tags":["/procedure_user"],"summary":"Share the procedure","operationId":"createProcedureShare","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The share data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureShareDataInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}},"delete":{"tags":["/procedure_user"],"summary":"Delete the procedure share","operationId":"deleteProcedureShare","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/procedure/user/{user_procedure_id}":{"get":{"tags":["/procedure_user"],"summary":"Retrieve an user procedure","operationId":"get_8","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}},"put":{"tags":["/procedure_user"],"summary":"Update a user procedure","operationId":"updateStatus","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"new status of the user procedure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureStatusInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"},"400":{"description":"Invalid request parameters"}}},"delete":{"tags":["/procedure_user"],"summary":"Delete the procedure for the user","operationId":"delete_3","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/procedure/user/{user_procedure_id}/delete-document":{"post":{"tags":["/procedure_user"],"summary":"Delete the document from the procedure , use pid instead of id","operationId":"deleteDocument_3_0","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"user procedure document id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureDocumentInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/procedure/user/{user_procedure_id}/details":{"get":{"tags":["/procedure_user"],"summary":"Retrieve an user procedure","operationId":"getDetails_1","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/procedure/user/{user_procedure_id}/rename":{"post":{"tags":["/procedure_user"],"summary":"Rename a personal procedure","operationId":"rename_1","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Rename user procedure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"},"409":{"description":"Can't rename user procedure"}}}},"/procedure/user/{user_procedure_id}/replace-document":{"put":{"tags":["/procedure_user"],"summary":"Add new document to user procedure in a document category , use pid instead of id","operationId":"replace_3_0","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Add document to user procedure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureDocumentInput"}}},"required":true},"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"}}}},"/procedure/user/{user_procedure_id}/reset":{"delete":{"tags":["/procedure_user"],"summary":"Reset the procedure for the user","operationId":"reset","parameters":[{"name":"user_procedure_id","in":"path","description":"user procedure id","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Domain object not found"},"403":{"description":"Access to resource forbidden"},"400":{"description":"Invalid request parameters"}}}},"/procedures":{"get":{"tags":["/procedures"],"summary":"Retrieve all procedures including user","operationId":"getProcedures","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProceduresList"}}}}}}},"/procedures/init":{"post":{"tags":["/procedures"],"summary":"Starts new own user procedure","operationId":"initPersoProcedure","requestBody":{"description":"Add user procedure","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureInput"}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/procedures/{procedure_id}/init":{"post":{"tags":["/procedures"],"summary":"Starts new user procedure","operationId":"initProcedure","parameters":[{"name":"procedure_id","in":"path","description":"procedure id","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/procedures/{procedure_pid}/init":{"post":{"tags":["/procedures"],"summary":"Starts new user procedure","operationId":"initProcedureByPId","parameters":[{"name":"procedure_pid","in":"path","description":"procedure pid","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/profile/phone":{"post":{"tags":["/profile"],"summary":"Create new phone number","operationId":"createPhoneNumber","requestBody":{"description":"Phone Number that will be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberInput"}}},"required":true},"responses":{"500":{"description":"Phone number ID is missing"}}}},"/profile/application/{client_id}":{"delete":{"tags":["/profile"],"summary":"Revoke the authorized application","operationId":"deleteApplicationAuthorization","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Token ID of authorized application is not found"}}}},"/profile/phone/{phone_number_id}":{"get":{"tags":["/profile"],"summary":"Get phone number by ID ","operationId":"getPhone","parameters":[{"name":"phone_number_id","in":"path","description":"ID of phone Number","required":true,"schema":{"$ref":"#/components/schemas/UserPhoneNumber"}}],"responses":{"400":{"description":"Phone number ID is missing"}}},"put":{"tags":["/profile"],"summary":"Modify phone number by ID ","operationId":"editPhoneNumber","parameters":[{"name":"phone_number_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/UserPhoneNumber"}}],"requestBody":{"description":"ID of phone Number that will be edited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberInput"}}},"required":true},"responses":{"404":{"description":"Phone number ID is missing"},"400":{"description":"Phone number already exist"}}},"delete":{"tags":["/profile"],"summary":"Delete phone number by ID ","operationId":"deletePhoneNumber","parameters":[{"name":"phone_number_id","in":"path","description":"ID of phone Number that will be deleted","required":true,"schema":{"$ref":"#/components/schemas/UserPhoneNumber"}}],"responses":{"400":{"description":"Phone number ID is missing"}}}},"/profile/address/{address_id}":{"get":{"tags":["/profile"],"summary":"Returns the address data for that id","operationId":"getProfileAddress","parameters":[{"name":"address_id","in":"path","description":"The address ID to get","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"the address id doesn't exists"}}},"put":{"tags":["/profile"],"summary":"Updates address with the given ID and send validation letter","operationId":"putProfileAddress","parameters":[{"name":"address_id","in":"path","description":"The address ID to remove.","required":true,"schema":{"pattern":".*","type":"string"}}],"requestBody":{"description":"The address to add","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileAddressData"}}},"required":true},"responses":{"404":{"description":"address ID is missing"},"400":{"description":"one of the address param is missing or not a well-formed email address"}}},"delete":{"tags":["/profile"],"summary":"R
[...]
